* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

button {
    padding: 4px 8px;
    background: green;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background 0.4s;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

@media(min-width: 768px) {
    .flex-desktop {
        display: flex;
        justify-content: space-evenly;
    }
}

.working-container {
    padding: 20px;
    width: 200px;
    min-height: 200px;
    border: 2px dashed #999;
    border-radius: 10px;
}

#theFirstObject,
.theFirstObject {
    background: blue;
    height: 20px;
    width: 20px;
    display: block;
}


#notThisObject {
    margin: 10px 0;
    content: '';
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid orange;
    display: block;
}

[data-id="theSecondObject"] {
    background: red;
    height: 20px;
    width: 20px;
    display: block;
    border-radius: 50%;
}

footer {
    margin-top: 20px;
    padding: 20px;
    background: #eee;
    text-align: center;
}